<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Gather resources and build your base or fight with other players to get higher on leaderboard!">
      <title>ComBat.io</title>
      <link id="favicon" rel="icon" href="https://cdn.glitch.global/6b51efe1-7fd7-48e4-a089-a9576ece05ca/chuxICON?v=1653427161082" type="image/x-icon">
      <link rel="stylesheet" href="/style.css">
      <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
      <script src="/bundle.js" defer></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css">
   </head>
   <body>
     <script>
     </script>
      <canvas id="gameCanvas"></canvas>
      <div id="interface">
         <div id="hotbar">
            <div id="h-item-0" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260357040279562/unknown.png?width=500&height=500)"></div>
            <div id="h-item-1" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979248699899252766/unknown.png?width=500&height=500)"></div>
            <div id="h-item-2" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/812730676326563850/819249394758451200/unknown.png?width=500&height=500)"></div>
            <div id="h-item-3" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260157353685002/unknown.png?width=500&height=500)"></div>
            <div id="h-item-4" class="hotbarItem"></div>
            <div id="h-item-5" class="hotbarItem"></div>
            <div id="h-item-6" class="hotbarItem"></div>
            <div id="h-item-7" class="hotbarItem"></div>
            <div id="h-item-8" class="hotbarItem"></div>
            <div id="h-item-9" class="hotbarItem"></div>
            <div id="h-item-10" class="hotbarItem"></div>
         </div>
         <input id="chatbox" type="text" maxlength="35">
      </div>
     <h1 class="game-title shadow">ComBat.io</h1>

<!-- <div class="settings-overlay show"></div> -->
<div class="settings-center">
<div class="settings-background show">
<div class="small-settings-text">
Settings:
</div>
<!-- <p style="text-align: left;">Choose Server</p> -->
<h3 class="h3-settings-text">
<label for="servers" style="float: left;">Servers</label>
</h3>
<br><br>
<div class="servers-list" id="serverList" style="text-align: left;">
<select id="servers" class="servers-style">
<option region="SCA2">USA#2 California</option>
<option region="SCA">USA#1 California</option>
<option region="SGP">AS#1 Singapore</option>
<option region="SFRA">EU#1 Frankfurt</option>
<option region="SFRA">EU#1 Frankfurt</option>
</select>
</div>
<br>
<h3 class="h3-settings-text" style="float: left;">
Select Skin
</h3>
<div class="skins-list" id="skinList" style="text-align: left;">
<div class="skin color-brown"></div>
<div class="skin color-tan"></div>
<div class="skin color-white"></div>
<div class="skin color-black"></div>
</div>
</div>
</div>

<div class="center" id="mainMenu">
<div id="game">
<div class="game-container">
<div class="background">
<input placeholder="Username" maxlength="15" class="text-input" id="nameInput" />
<br><br>
<div class="start-btn" id="enterGame">Start Game</div>
<br><br>
<a class="a-link" onclick="changeGamemodeToNormal();" id="normal">Normal</a>
<a class="a-link" onclick="changeGamemodeToSandbox();" id="sandbox">Sandbox</a>
</div>
</div>
</div>
<br><br>
<div class=""></div>

<div class="settings">
<a class="settings-link" id="toggle-settings">Open/Close Settings</a>
</div>

<noscript>
Sorry, your browser does not support JavaScript!
</noscript>
    
         
         
           <div id="ad">
             
           </div>
            <div id="loadingText" style="display: none;">Connecting..</div>
                     <div class="menuHeader">Servers</div>
                     <select id="serverBrowser">
                        <option>[BETA] Server 1</option>
                     </select>
                
            <div id="youtuberOf">
          <div class="spanLink" id="featuredYoutube"><a style="display:inline;" target="_blank" class="ytLink" href="https://www.youtube.com/channel/UCWMmS0ewX0fRJZUwonryI9g"><h3 style="font-size: 20px; color: black;">Developer</h3>
          <p style="display:inline; color: black;" id="featuredYoutubeName">AFK</p></a></div>
         </div>
     </div>
  </div>
</div>
         <div id="linksContainer2" style="background-color: grey;">
            <a href="https://discord.gg/fpafRSRDuN" target="_blank" class="menuLink">Discord</a> |
            <a href="/version.txt" target="_blank" class="menuLink">1.1.5 BETA</a> |
            <a href="/terms.txt" target="_blank" class="menuLink">Terms</a> |
            <a href="/privacy.txt" target="_blank" class="menuLink">Privacy</a>
         </div>
        </div>
   </body>
</html>