<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#1d9300">
      <meta name="keywords" content="ComBat, ComBat.io, ComBatio, MooMoo.io, Taming.io, Sploop.io, Lostworld.io, iogames, .iogames, io, .io">
      <meta name="description" content="Gather resources and build your base or fight with other players to get higher on leaderboard!">
      <title>ComBat.io</title>
      <link id="favicon" rel="icon" href="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/ComBat.io.png" type="image/x-icon">
      <link rel="stylesheet" href="/style.css">
      <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
      <script src="/bundle.js" defer></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One" rel="stylesheet">
   </head>
   <body>
      <canvas id="gameCanvas"></canvas>
      <div id="interface">
         <div id="hotbar">
            <div id="h-item-0" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260357040279562/unknown.png?width=500&height=500)"></div>
            <div id="h-item-1" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979248699899252766/unknown.png?width=500&height=500)"></div>
            <div id="h-item-2" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/812730676326563850/819249394758451200/unknown.png?width=500&height=500)"></div>
            <div id="h-item-3" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260157353685002/unknown.png?width=500&height=500)"></div>
            <div id="h-item-4" class="hotbarItem"></div>
            <div id="h-item-5" class="hotbarItem"></div>
            <div id="h-item-6" class="hotbarItem"></div>
            <div id="h-item-7" class="hotbarItem"></div>
            <div id="h-item-8" class="hotbarItem"></div>
            <div id="h-item-9" class="hotbarItem"></div>
            <div id="h-item-10" class="hotbarItem"></div>
         </div>
         <input id="chatbox" type="text" maxlength="30">
      </div>
      <!--div id="mainMenu" style="display: none">
         <div id="container">
         <div id="accounts">
           <div id="box">This is a box.</div>
         </div>
         <div id="game">
           <br>
           <input type="text" id="nameInput" placeholder="ur name" maxlength="15">
           <button id="enterGame">enter this game</button>
         </div>
           <div id="ad">
             
           </div>
         </div>
         </div-->
      <!-- GAME CONTAINER -->
      <div id="mainMenu">
         <div id="menuContainer">
            <!-- GAME NAME -->
            <div id="gameName">ComBat.io</div>
            <!-- LOADING TEXT -->
            <div id="loadingText" style="display: none;">Connecting...</div>
            <!-- MENU CARDS -->
            <div id="menuCardHolder" style="display: block;">
               <!--div class="menuCard" id="adCard">
                  <div align="center" id="moomooio_300x250_1" name="moomooio_300x250_1" data-google-query-id="CPHA8q2asPACFZlI4AodLFwAIQ">
                     <div id="google_ads_iframe_/15184186/moomooio_300x250_1_0__container__" style="border: 0pt none; width: 300px; height: 250px;">
                     </div>
                  </div>
               </div-->
               <div style="display:inline-block;">
                  <div class="menuCard" id="setupCard">
                     <input type="text" id="nameInput" placeholder="Enter Name" maxlength="15">
                     <div id="enterGame" class="menuButton"><span>Enter Game</span></div>
                     <div id="mobileDownloadButtonContainer">
                        <a class="downloadBadge" href="https://itunes.apple.com/us/app/moomoo-io-mobile/id1236581367?ls=1&amp;mt=8" target="_blank"><img src="./img/badges/ios.svg"></a>
                        <a class="downloadBadge" href="https://play.google.com/store/apps/details?id=com.yendis.moomoo_mobile" target="_blank"><img src="./img/badges/android.png"></a>
                     </div>
                  </div>
                  <div id="promoImgHolder" class="menuCard">
                    <h3>ComBat.io</h3>
                  </div>
               </div>
               <div class="settingsCard" id="rightCardHolder">
                  <div class="menuCard" id="guideCard">
                     <div class="menuHeader">Servers</div>
                     <select id="serverBrowser">
                        <option>Server 1</option>
                     </select>
                     <!--div class="menuHeader" style="margin-top:10px">Select Color</div>
                     <div id="skinColorHolder">
                        <div class="skinColorItem activeSkin" style="background-color:#bf8f54" onclick="selectSkinColor(0)"></div>
                        <div class="skinColorItem" style="background-color:#cbb091" onclick="selectSkinColor(1)"></div>
                        <div class="skinColorItem" style="background-color:#896c4b" onclick="selectSkinColor(2)"></div>
                        <div class="skinColorItem" style="background-color:#fadadc" onclick="selectSkinColor(3)"></div>
                        <div class="skinColorItem" style="background-color:#ececec" onclick="selectSkinColor(4)"></div>
                        <div class="skinColorItem" style="background-color:#c37373" onclick="selectSkinColor(5)"></div>
                        <div class="skinColorItem" style="background-color:#4c4c4c" onclick="selectSkinColor(6)"></div>
                        <div class="skinColorItem" style="background-color:#ecaff7" onclick="selectSkinColor(7)"></div>
                        <div class="skinColorItem" style="background-color:#738cc3" onclick="selectSkinColor(8)"></div>
                        <div class="skinColorItem" style="background-color:#8bc373" onclick="selectSkinColor(9)"></div>
                     </div-->
                     <div class="menuHeader" style="margin-top:10px">How To Play</div>
                     <div class="menuText">
                       Gather resources and build your base or fight with other players to get higher on leaderboard!
                     </div>
                     <div class="menuHeader">Controls</div>
                     <div id="desktopInstructions" class="menuText">
                        Movement: W, A, S, D<br>
                        Look: Mouse<br>
                        Gather/Attack: Mouse or Space - [E] AutoHit<br>
                        Select Item: 1-9 or Click<br>
                        Quick Select Food: Q<br>
                        Chat: Enter Key<br>
                     </div>
                     <div id="mobileInstructions" class="menuText">
                     </div>
                     <div id="smallLinks">
                        <div class="menuHeader">Links</div>
                        <div class="menuText">
                           <a href="/version.txt" target="_blank" class="menuLink">1.2.1</a> <span class="vertical-line"></span>
                           <a href="https://discord.gg/BhUj2KThXJ" target="_blank" class="discordLink">Discord</a> <span class="vertical-line"></span>
                           <a href="/terms.txt" target="_blank" class="menuLink">Terms</a> <span class="vertical-line"></span>
                           <a href="/privacy.txt" target="_blank" class="menuLink">Privacy</a> <span class="vertical-line"></span>
                           <a href="http://iogames.space" target="_blank" class="menuLink">More Games</a>
                        </div>
                     </div>
                  </div>
                  <!-- <div id="downloadButtonContainer" class="menuCard">
                     <a class="downloadBadge" href="https://itunes.apple.com/us/app/moomoo-io-mobile/id1236581367?ls=1&mt=8" target="_blank"><img src="./img/badges/ios.svg"></a></img>
                     <a class="downloadBadge" href="https://play.google.com/store/apps/details?id=com.yendis.moomoo_mobile" target="_blank"><img src="./img/badges/android.png"></img></a>
                     </div> -->
               </div>
            <div>
            <!-- <div id="youtuberOf">
          <div class="spanLink" id="featuredYoutube"><a style="display: flex;" target="_blank" class="ytLink" href="https://www.youtube.com/channel/UCWMmS0ewX0fRJZUwonryI9g"><h3 style="font-size: 20px; color: black;">Developer: </h3>
          <p style="display: inline; color: black;" id="featuredYoutubeName">AFK</p></a></div>
         </div> -->
         <!-- LINKS CONTAINERS -->
         <div id="linksContainer2" style="background-color: rgba(0, 0, 0, 0.25);">
            <a href="https://discord.gg/BhUj2KThXJ" target="_blank" class="discordLink">Discord</a> <span class="vertical-line"></span>
            <a href="/version.txt" target="_blank" class="menuLink">1.1.2</a> <span class="vertical-line"></span>
            <a href="/terms.txt" target="_blank" class="menuLink">Terms</a> <span class="vertical-line"></span>
            <a href="/privacy.txt" target="_blank" class="menuLink">Privacy</a>
         </div>
      </div>
           </div>
         </div>
      </div>
   </body>
</html>