<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Gather resources and build your base or fight with other players to get higher on leaderboard!">
      <title>Chux.io</title>
      <link id="favicon" rel="icon" href="https://cdn.glitch.global/6b51efe1-7fd7-48e4-a089-a9576ece05ca/chuxICON?v=1653427161082" type="image/x-icon">
      <link rel="stylesheet" href="/style.css">
      <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
      <script src="/bundle.js" defer></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css">
   </head>
   <body>
      <canvas id="gameCanvas"></canvas>
      <div id="interface">
         <div id="hotbar">
            <div id="h-item-0" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260357040279562/unknown.png?width=500&height=500)"></div>
            <div id="h-item-1" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979248699899252766/unknown.png?width=500&height=500)"></div>
            <div id="h-item-2" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/812730676326563850/819249394758451200/unknown.png?width=500&height=500)"></div>
            <div id="h-item-3" class="hotbarItem" style="background-image:url(https://media.discordapp.net/attachments/974248776082542602/979260157353685002/unknown.png?width=500&height=500)"></div>
            <div id="h-item-4" class="hotbarItem"></div>
            <div id="h-item-5" class="hotbarItem"></div>
            <div id="h-item-6" class="hotbarItem"></div>
            <div id="h-item-7" class="hotbarItem"></div>
            <div id="h-item-8" class="hotbarItem"></div>
            <div id="h-item-9" class="hotbarItem"></div>
            <div id="h-item-10" class="hotbarItem"></div>
         </div>
         <input id="chatbox" type="text" maxlength="30">
      </div>
      <!--div id="mainMenu" style="display: none">
         <div id="container">
         <div id="accounts">
           <div id="box">This is a box.</div>
         </div>
         <div id="game">
           <br>
           <input type="text" id="nameInput" placeholder="ur name" maxlength="15">
           <button id="enterGame">enter this game</button>
         </div>
           <div id="ad">
             
           </div>
         </div>
         </div-->
      <!-- gae -->
      <div id="mainMenu">
         <div id="menuContainer">
            <!-- GAME NAME -->
            <div id="gameName">Chux.io</div>
            <!-- LOADING TEXT -->
            <div id="loadingText" style="display: none;">Connecting..</div>
            <!-- MENU CARDS -->
            <div id="menuCardHolder" style="display: block;">
               <!--div class="menuCard" id="adCard">
                  <div align="center" id="moomooio_300x250_1" name="moomooio_300x250_1" data-google-query-id="CPHA8q2asPACFZlI4AodLFwAIQ">
                     <div id="google_ads_iframe_/15184186/moomooio_300x250_1_0__container__" style="border: 0pt none; width: 300px; height: 250px;">
                        
                     </div>
                  </div>
               </div-->
               <div style="display:inline-block;">
                  <div class="menuCard" id="setupCard">
                     <input type="text" id="nameInput" placeholder="Enter Name" maxlength="15">
                     <div id="enterGame" class="menuButton"><span>Enter Game</span></div>
                <h1 class="game-title simple">ComBat.io</h1>

                <div class="center">
                  <div class="game-container">
                    <div class="background">
                      <input type="text" placeholder="Username" maxlength="12" class="input" />
                      <br><br>
                      <button class="start-btn">Start Game</button>
                      <br><br>
                      <a class="a-link">Normal</a>
                      <a class="a-link">Sandbox</a>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="settings">
                  <a class="settings-link">Settings</a>
                </div>
                    <noscript>
                      Sorry, your browser does not support JavaScript!
                    </noscript>
                     <div id="mobileInstructions" class="menuText">
                     </div>
                     <div id="smallLinks">
                        <div class="menuHeader">Links</div>
                        <div class="menuText">
                           <a href="/version.txt" target="_blank" class="menuLink">1.2.1</a> |
                           <a href="" target="_blank" class="menuLink">Discord</a> |
                           <a href="/terms.txt" target="_blank" class="menuLink">Terms</a> |
                           <a href="/privacy.txt" target="_blank" class="menuLink">Privacy</a> |
                           <a href="http://iogames.space" target="_blank" class="menuLink">More Games</a>
                        </div>
                     </div>
                  </div>
                  <!-- <div id="downloadButtonContainer" class="menuCard">
                     <a class="downloadBadge" href="https://itunes.apple.com/us/app/moomoo-io-mobile/id1236581367?ls=1&mt=8" target="_blank"><img src="./img/badges/ios.svg"></a></img>
                     <a class="downloadBadge" href="https://play.google.com/store/apps/details?id=com.yendis.moomoo_mobile" target="_blank"><img src="./img/badges/android.png"></img></a>
                     </div> -->
               </div>
            <div>
            <div id="youtuberOf">
          <div class="spanLink" id="featuredYoutube"><a style="display:inline;" target="_blank" class="ytLink" href="https://www.youtube.com/channel/UCWMmS0ewX0fRJZUwonryI9g"><h3 style="font-size: 20px; color: black;">Developer</h3>
          <p style="display:inline; color: black;" id="featuredYoutubeName">AFK</p></a></div>
         </div>
         <!-- LINKS CONTAINERS -->
         <div id="linksContainer2" style="background-color: grey;">
            <a href="https://discord.gg/" target="_blank" class="menuLink">Discord</a> |
            <a href="/version.txt" target="_blank" class="menuLink">1.1.2</a> |
            <a href="/terms.txt" target="_blank" class="menuLink">Terms</a> |
            <a href="/privacy.txt" target="_blank" class="menuLink">Privacy</a>
         </div>
      </div>
   </body>
</html>