<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="minimal-ui, width=device-width, height=device-height, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="theme-color" content="#1d9300" />
  <meta name="keywords" content="ComBat, ComBat.io, ComBatio, MooMoo.io, Taming.io, Sploop.io, Lostworld.io, iogames, .iogames, io, .io, 2d game, survival" />
  <meta name="description" content="A game where you can collect resources, compete against other players, and get the highest score on the leaderboard!" />
  <!-- <meta name="robots" content="index, follow"> -->
  <!-- <meta name="googlebot" content="index, follow"> -->
  <!-- <meta name="revisit-after" content="14 days"> -->
  <title>ComBat.io - The new .IO Game!</title>
  <meta property="og:image" content="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/ComBat.io.png?v=1657391740707" />
  <link id="favicon" rel="icon" href="https://cdn.glitch.global/069d62dd-5ac4-4928-9200-7250f0cc75c3/Favicon.png?v=1662344798646" type="image/x-icon" />
  <link rel="stylesheet" href="/main.css" />
  <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://forkaweso.me/Fork-Awesome/assets/fork-awesome/css/fork-awesome.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
  <div class="backgroundImg" id="backgroundImg"></div>

  <div class="navicon" id="navbar">
    <span class="icon material-icons md-2-rem" id="icon">
      menu
    </span>
    <!-- <span class="icon material-icons md-36" id="icon">&#xE5CD; &#xE5D2;</span> -->
    <!-- <span class="icon" id="icon">≡</span> -->
    <!-- <span class="icon" id="icon">☓</span> -->
  </div>
  <div class="topMenu" id="menu">
    <a class="main" onclick="window.open('https://combat-io.glitch.me/')"><span class="mainText">Combat.io</span></a>
    <!-- <a class="nextLine"></a> -->
    <a href="/Version" target="_blank">Version</a>
    <a href="https://discord.gg/BhUj2KThXJ" target="_blank" class="discord">Discord</a>
    <a href="/Terms" target="_blank">Terms</a>
    <a href="/Privacy" target="_blank">Privacy Policy</a>
  </div>

  <div class="leaderboardContainer">
    <div class="centeredPage">
      <div class="order">
        <span>Rank</span>
        <span>Name</span>
        <span>Score</span>
      </div>
      <div class="leaderboardPage">
        <div class="playerScore1">
          <span class="first">1.</span>
          <span>Dot</span>
          <span>10B</span>
        </div>
        <div class="playerScore2">
          <span class="second">2.</span>
          <span>NOOB</span>
          <span>1B</span>
        </div>
        <div class="playerScore1">
          <span class="third">3.</span>
          <span>AFK</span>
          <span>100M</span>
        </div>
        <div class="playerScore2">
          <span>4.</span>
          <span>Player1</span>
          <span>10M</span>
        </div>
        <div class="playerScore1">
          <span>5.</span>
          <span>Player2</span>
          <span>1M</span>
        </div>
        <div class="playerScore2">
          <span>6.</span>
          <span>Player3</span>
          <span>100k</span>
        </div>
        <div class="playerScore1">
          <span>7.</span>
          <span>Player4</span>
          <span>10k</span>
        </div>
        <div class="playerScore2">
          <span>8.</span>
          <span>Player5</span>
          <span>1k</span>
        </div>
        <div class="playerScore1">
          <span>9.</span>
          <span>Player6</span>
          <span>100</span>
        </div>
        <div class="playerScore2">
          <span>10.</span>
          <span>Player7</span>
          <span>10</span>
        </div>
      </div>
    </div>
  </div>

  <div class="centeredBottom">
    <div class="bottomPage">
      <!-- onclick="history.go(-1); return false;" -->
      <a class="link" onclick="const backButton = document.getElementById('backButton'); if (window.history.length === undefined) { backButton.addEventListener('click', () => { history.go(-1); return false; }); } else { window.location.href = 'https://combat-io.glitch.me/'; }" id="backButton">
        <div class="">
          Go back to game <span class="arrow material-icons md-24"></span>
        </div>
      </a>
    </div>
  </div>
  <script src="/main.js"></script>
</body>
</html>